<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
      <%= render "product_row", product: @product, order_item: @order_item %>
    <p><%= link_to 'Back', products_path %></p>
  </div>
</div>
